<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3 Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.min.js"></script>
    <style>
        p #area{
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <div id="application">
        <input v-model.lazy="textField" placeholder="请输入"/>
        <p>输入的文本内容：{{textField}} end</p>
        <br/>
        <textarea v-model.trim="textArea" title="文本域"></textarea>
        <p id="area">多行文本内容：{{textArea}} end</p>
        <br/>
        <input type="checkbox" v-model="checkbox" placeholder="多选框"/>
        <p v-show="checkbox">已选中</p>
        <br/>
        <input type="checkbox" v-model="checkList" value="足球" placeholder="check"/>足球
        <input type="checkbox" v-model="checkList" value="篮球" placeholder="check"/>篮球
        <input type="checkbox" v-model="checkList" value="排球" placeholder="check"/>排球
        <p>{{checkList}}</p>
        <br/>
        <input type="radio" value="男" v-model="sex"/>男
        <input type="radio" value="女" v-model="sex"/>女
        <p>{{sex}}</p>
        <select id="s1" v-model="selectList" multiple>
            <option>男</option>
            <option>女</option>
        </select>
        <p>{{selectList}}</p>
    </div>
</body>
<script>
    const app = {
        data() {
            return {
                textField:"",
                textArea:"",
                checkbox:false,
                checkList:[],
                sex:"",
                selectList:[]
            }
        },
    }
    let vapp = Vue.createApp(app).mount('#application');
</script>
</html>